# Ερώτηση 3 (Clustering)

In [1]:
import pandas as pd
import numpy as np
import json
import time

start = time.time()
yelp_dataset_path = '../yelp-dataset/'
dataset_business = pd.read_json(r'../yelp-dataset/yelp_academic_dataset_business.json', lines= True)
stop = time.time()

print("Read file in {} seconds".format(stop-start))

Read file in 9.48769760131836 seconds

In [2]:
buisness_table = \
dataset_business[["business_id", "name", "city", "categories"]].loc[
                    (dataset_business["city"] == "Toronto") & 
                    (dataset_business["review_count"] > 10) &
                    dataset_business["categories"].str.contains('Beauty & Spas|Shopping|Bars')]

In [3]:
start = time.time()
dataset_review = [json.loads(line) for line in 
    open(yelp_dataset_path+'yelp_academic_dataset_review.json', 'r', encoding="utf8")]
dataset_review = pd.DataFrame(dataset_review) 
stop = time.time()

print("Read file in {} mins".format((stop-start)/60))

Read file in 9.932160357634226 mins

dataset_review: Mean json read time 2-5 mins

In [4]:
# Testing on how to set a category based on ["Beauty & Spas", "Shopping", "Bars"] order

order = ["Beauty & Spas", "Shopping", "Bars"]
test_1 = ["Beauty & Spas", "Shopping", "Bars"]
test_2 = ["Nightlife", "Sports Bars", "Bars", "Restaurants"]
test_3 = ["Bars", "Shopping", "Beauty & Spas"]

print("Assign buissnes to {}".format([value for index, value in enumerate(order) if value in test_3][0]))

Assign buissnes to Beauty & Spas

In [5]:
buisness_category = buisness_table['categories'].iloc[0]
print(buisness_category)
category = [value for index, value in enumerate(order) if value in buisness_category][0]
print(category)

Steakhouses, Restaurants, Nightlife, Seafood, Bars
Bars

In [6]:
for index, row in buisness_table.iterrows():
    #print(index, row)
    buisness_category = buisness_table.at[index, 'categories']
    category = [value for index, value in enumerate(order) if value in buisness_category][0]
    buisness_table.at[index, 'categories'] = category

In [7]:
buisness_table

,business_id,name,city,categories
161,cicPsia8Wj-DNRkmLbD_xg,The Keg Steakhouse + Bar,Toronto,Bars
191,xVXyrTWbG8U3szze-aA7eg,St. Louis Bar & Grill,Toronto,Bars
194,e-tRKAC-q40SqQfAOwYa-A,Aum Ayurvedic & Thai Massage,Toronto,Beauty & Spas
247,TKKX9bllRBMzp0NYr441PQ,Mi'Hito Sushi Laboratory,Toronto,Bars
259,C9keC4mWuXdl2mYFHZXudQ,Uncle Otis Clothing,Toronto,Shopping
...,...,...,...,...
209089,Cesnh6fIsAUO8D4jfGhOIw,Colibri,Toronto,Shopping
209109,lkq6i2x3vUsR7ZNrIFqoIw,The Monks Kettle,Toronto,Bars
209113,wjqOdj0XJUDOOtU9LjRlWQ,Pegasus On Church,Toronto,Bars
209300,thzyiQZb16zD8wMliaEfRQ,Sushi Supreme,Toronto,Bars
209351,0hudPyuCBlKg79OwKBw-eQ,The Black Bull,Toronto,Bars

In [46]:
numpy_buisnesses = buisness_table.to_numpy()
unique_buisnesses = np.unique(numpy_buisnesses)

numpy_reviews = dataset_review.to_numpy()

## collecting text

In [41]:
d = {}
for buisness_id in unique_buisnesses[:3]:
    buisness_texts = dataset_review[["business_id", "text"]].loc[
        (dataset_review['business_id'] == buisness_id)].to_numpy()
    temp_str = ""
    for index, text in enumerate(buisness_texts):
        temp_str += text[1]
    d[buisness_id] = temp_str

unique_buisnesses

array(["'ONO Poké Bar", '-0CCHBui57tZ_1y_14X-5Q',
       '-0DwB6Swi349EKfbBAOF7A', ..., 'zzH3E5DA8eMzFwv2k5izyw',
       'zzUj3ej4vm_DtvRxNvWDEw', 'zzf3RkMI1Y2E1QaZqeU8yA'], dtype=object)

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer

#print(d[unique_buisnesses[1]])
text = d[unique_buisnesses[1]]
vectorizer = TfidfVectorizer()
vectros = vectorizer.fit_transform([text])
feature_names = vectorizer.get_feature_names()
dense = vectros.todence()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

NameError: name 'dense' is not defined