# Ερώτηση 3 (Clustering)

In [54]:
import pandas as pd
import numpy as np
import json
import time

start = time.time()
yelp_dataset_path = '../yelp-dataset/'
dataset_business = pd.read_json(r'../yelp-dataset/yelp_academic_dataset_business.json', lines= True)
stop = time.time()

print("Read file in {} seconds".format(stop-start))

Read file in 15.109997510910034 seconds

In [55]:
buisness_table = \
dataset_business[["business_id", "name", "city", "categories"]].loc[
                    (dataset_business["city"] == "Toronto") & 
                    (dataset_business["review_count"] > 10) &
                    dataset_business["categories"].str.contains('Beauty & Spas|Shopping|Bars')]

In [56]:
start = time.time()
dataset_review = [json.loads(line) for line in 
    open(yelp_dataset_path+'yelp_academic_dataset_review.json', 'r', encoding="utf8")]
dataset_review = pd.DataFrame(dataset_review) 
stop = time.time()

print("Read file in {} mins".format((stop-start)/60))

Read file in 28.989804899692537 mins

dataset_review: Mean json read time 2-5 mins

In [57]:
dataset_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2.0,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1.0,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1.0,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4.0,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57
...,...,...,...,...,...,...,...,...,...
8021117,LAzw2u1ucY722ryLEXHdgg,6DMFD3BRp-MVzDQelRx5UQ,XW2kaXdahICaJ27A0dhGHg,1.0,1,0,1,"Fricken unbelievable, I ordered 2 space heater...",2019-12-11 01:07:06
8021118,gMDU14Fa_DVIcPvsKtubJA,_g6P8H3-qfbz1FxbffS68g,IsoLzudHC50oJLiEWpwV-w,3.0,1,3,1,Solid American food with a southern comfort fl...,2019-12-10 04:15:00
8021119,EcY_p50zPIQ2R6rf6-5CjA,Scmyz7MK4TbXXYcaLZxIxQ,kDCyqlYcstqnoqnfBRS5Og,5.0,15,6,13,I'm honestly not sure how I have never been to...,2019-06-06 15:01:53
8021120,-z_MM0pAf9RtZbyPlphTlA,lBuAACBEThaQHQGMzAlKpg,VKVDDHKtsdrnigeIf9S8RA,3.0,2,0,0,Food was decent but I will say the service too...,2018-07-05 18:45:21
8021121,nK0JGgr8aO4mcFPU4pDOEA,fiA6ztHPONUkmX6yKIXyHg,2SbyRgHWuWNlq18eHAx95Q,5.0,2,0,2,"Oh yeah! Not only that the service was good, t...",2019-12-07 00:29:55

In [58]:
# Testing on how to set a category based on ["Beauty & Spas", "Shopping", "Bars"] order

order = ["Beauty & Spas", "Shopping", "Bars"]
test_1 = ["Beauty & Spas", "Shopping", "Bars"]
test_2 = ["Nightlife", "Sports Bars", "Bars", "Restaurants"]
test_3 = ["Bars", "Shopping", "Beauty & Spas"]

print("Assign buissnes to {}".format([value for index, value in enumerate(order) if value in test_3][0]))

Assign buissnes to Beauty & Spas

In [65]:
buisness_category = buisness_table['categories'].iloc[0]
print(buisness_category)
category = [value for index, value in enumerate(order) if value in buisness_category][0]
print(category)

for index in buisness_table.index:
    buisness_category = buisness_table['categories'].iloc[index]
    category = [value for index, value in enumerate(order) if value in buisness_category][0]
    buisness_table['categories'].iloc[index] = category

Steakhouses, Restaurants, Nightlife, Seafood, Bars
Bars

161